<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("FAQ")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container" style="display:block !important">
        <div >
            <img src="/static/custom-theme/images/empower.jpg" alt="speaker-img" style="width: 100%;height: 100%;">
        </div>
        <div>
            <img src="/static/custom-theme/images/Packages_ACE.png" alt="speaker-img" >
        </div>
        <div>
            <img src="/static/custom-theme/images/trainer.png" alt="speaker-img" >
        </div>
        
        
        
    </section>
</main>
