<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Privacy Policy")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <!-- <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("Privacy Policy")}</%block>
        </h1>
        <p>
            <%block name="pagecontent">${page_content or _("This page left intentionally blank. Feel free to add your own content.")}</%block>
        </p>
    </section> -->
    <section class="container" style="display: block; font-family: Inter,Helvetica Neue,Arial,sans-serif;" >
        <h1>Privacy Policy</h1>
        <p class="privacy-intro">
            The Ace University and each educator that provides courses through ACE platform care about 
            the confidentiality and security of your information. 
            This Privacy Policy applies to information that The Ace University collects through the ACE platform 
            when you interact with ACE, with educators, with other users, and generally with the ACE site.
        </p>
        <br/><br/>
        <h3>INFORMATION THAT ACE COLLECTS FROM YOU (INCLUDING PERSONAL INFORMATION)</h3>
        <p>ACE directly collects information when you:</p>
        <ul>
            <li>sign up for an ACE user account and create an ACE user profile;</li>
            <li>enroll and participate in online courses;</li>
            <li>purchase a product or service;</li>
            <li>send email messages to ACE;</li>
            <li>participate in user surveys; and</li>
            <li>participate in public forums, webinars, and other interactive experiences on ACE.</li>

        </ul>
        <br/><br/>
        <p>ACE does not itself collect or store financial account numbers or identification issued 
            by a governmental entity, employer, or other authority.
        </p>
        <p>ACE requires your personal information in limited circumstances when you:</p>
        <ul>
            <li>sign up for an ACE user account (name, username, email address); or</li>
            <li>purchase a Verified Certificate or other product or service.</li>
        </ul>
        <br/><br/>
        <p>You may voluntarily choose to share additional Personal Information on the ACE Site, for example:</p>
        <ul>
            <li>in your ACE account profile (and you may display a limited or full profile to other ACE Site users); or</li>
            <li>when participating in a course, forum, webinar, or other interactive experience on the ACE Site. </li>
        </ul>
        <br/><br/>
        <p>
            ACE encourages you to use discretion before voluntarily sharing additional Personal Information on the ACE Site.
        </p>
        <br/><br/>
        <p>
            Educators do not receive your Personal Information unless and until you enroll in a course. 
            If you enroll in a course, the educator that offers the course will receive Personal 
            Information from your ACE account profile plus the information that ACE collects 
            about your activity and performance in the course in which you enrolled.
        </p>
        <br/><br/>
        <h3>Cookies And Tracking Technologies on the ACE Site</h3>
        <p>
            Like many companies, ACE uses Cookies and other common Tracking Technologies 
            on the ACE site and in email communications to help ACE better understand your use and 
            needs of the ACE Site, current and future ACE-related products and services, and how ACE and 
            ACE platform educators can improve.
        </p>
        <br/><br/>
        <p>ACE and ACE educators use Cookies and other Tracking Technologies for the following purposes:</p>
        <ul>
            <li>when necessary for system administration, security, and integrity to ensure the 
                ACE Site works properly for you. Without these technologies, the ACE Site may not 
                function correctly;
            </li>
            <li>to enable analytics, performance and functionality, to help ACE and educators gather information 
                about how visitors use the ACE Site and monitor ACE Site performance, and to enhance your 
                experience by recognizing and remembering whether you have visited the ACE Site before and may 
                have any personal preferences; and
            </li>
            <li>
                to support marketing by enabling ACE and educators to deliver content relevant to your 
                interests on the ACE Site and third-party sites based on how you interact with ACE or 
                ACE educator advertisements or content. ACE and ACE educators use “first-party” cookies, 
                which means cookies served by ACE or an individual educator, and also “third-party” cookies, 
                which means cookies served by third parties that help ACE and ACE educators track this information.
            </li>

        </ul>
        <p>
            You have some options for managing Cookies and other Tracking Technologies. These include:
        </p>
        <ul>
            <li>
                <u>Modifying your browser settings:</u>
                You should be able to control how and whether your web browser accepts Cookies by adjusting 
                its privacy and security settings. The “help” feature of the menu bar on most 
                browsers will tell you how to stop accepting new Cookies, how to receive notification of 
                new Cookies, and how to disable existing Cookies. If you reject ACE’s Cookies, many functions and conveniences of the ACE Site may not work properly.

            </li>
            <li>
                <u>Opting-out of certain third-party tracking and advertising</u>
                Some of the third parties used by ACE or an ACE educator for Cookies and Tracking 
                Technologies offer the ability to opt-out from their tracking by following processes 
                described on their websites. Neither ACE nor any educator is responsible for the effectiveness 
                of any third-party opt-out options.
            </li>
        </ul>
        <br/><br/>
        <h3>HOW YOUR INFORMATION IS USED</h3>
        <p>ACE and ACE educators use information, including Personal Information, to carry out the following purposes:</p>
        <ul>
            <li>
                Operate and improve the ACE Site – This includes creating and improving features that 
                support the ACE community and enable ACE Site usage at scale. This also includes 
                personalizing the ACE Site, so your learning experience is tailored to your interests and needs.
            </li>
            <li>
                Create, administer, provide, and teach courses – This includes creating and improving the 
                delivery of massive open online courses and programs on ACE. This also includes personalizing 
                courses, so your learning experience is tailored to your interests and needs, and assessing 
                your performance and awarding certificates.
            </li>
            <li>
                Offer and improve products and services – This includes enabling you to navigate the ACE Site, 
                to enroll and participate in courses and programs on the ACE Site, to learn effectively in such 
                courses and programs, and to purchase or obtain products and services on the ACE Site such as 
                Verified Certificates.
            </li>
            <li>
                Develop and maintain the security and performance of the ACE Site – This includes tracking 
                ACE Site outages and creating software solutions, detecting violations of the Honor Code and 
                Terms of Service, and monitoring uses, misuses, and potential misuses of the ACE Site.
            </li>
            <li>
                Communicate with you – This includes answering your course and platform questions, 
                notifying you of course and ACE Site maintenance and updates, marketing to you about 
                course offerings, programs, news, and related products and services of ACE or ACE affiliates, 
                and as permitted under applicable law, sending you communications about products or services of 
                selected business partners that may be of interest to you.
            </li>
            <li>
                Support scientific research including, for example, in the areas of cognitive science and education – 
                This includes collaborating to enable and conduct research about how learners access and master 
                course materials online, with the goal of improving course outcomes.
            </li>
            <li>
                Track ACE Site usage against goals and mission – This includes performing analytics to 
                evaluate access to and performance in courses and course-related products and services and 
                to report aggregate usage information (not Personal Information) to business partners and 
                external audiences.
            </li>
            <li>
                Exercise, enforce, and comply with legal rights and obligations – This includes responding 
                to subpoenas, court orders, or other legal process; and investigating, preventing, or 
                taking action regarding illegal activities, suspected fraud, security or technical issues, 
                or to protect the rights, property, or safety of ACE, educators, or others, and as otherwise 
                required by applicable law.
            </li>
        </ul>
        <p>
            ACE or an educator may also seek your consent for additional uses of information, 
            including Personal Information, and will use it only for the purpose described to you. 
            All use of Personal Information is subject to applicable law.
        </p>
        <br/><br/>
        <h3>HOW YOUR INFORMATION IS SHARED</h3>
        <p>
            ACE and educators share information, including Personal Information, 
            with third parties for the following purposes:
        </p>
        <ul>
            <li>
                With service providers, contractors, and other third parties that help carry out the uses 
                described above – ACE requires third parties to: (1) abide by this Privacy Policy and applicable 
                law; (2) handle Personal Information in a confidential manner and maintain adequate security; 
                and (3) use Personal Information only as needed to fulfill the relevant purpose(s). In some cases, 
                the ACE Site and individual courses are integrated with third-party services or contain links to 
                websites published by third parties, including other content providers as well as service providers. 
                These third parties are responsible for their own privacy practices, so you should pay attention 
                anytime you are redirected to a third-party website and be sure to review its privacy policy.
            </li>
            <li>
                With other learners in courses that you take and with other visitors to the ACE Site, 
                to create an interactive learning environment, support class participation, and share course 
                information – This includes sharing comments, coursework, or other information or content that 
                you submit to a portion of the ACE Site designed for viewing by other class members or for 
                public communication. This also includes providing opportunities for you to communicate with 
                other users who may have similar interests or educational goals, for instance, recommending 
                specific study partners or connecting potential student mentees and mentors. In such cases, 
                ACE and each educator that offers a course in which you enrolled may use all information collected 
                about you to determine who might be interested in communicating with you, but will only provide 
                others your username (for clarity, no disclosure of your real name or email address).
            </li>
            <li>
                With employers, government programs, institutions, or other enterprises that sponsor your 
                enrollment in a course for training or other educational purposes – If an entity pays for 
                or otherwise sponsors your Verified Certificate or course participation, ACE will share 
                information with the entity as needed to confirm your enrollment, participation, progress, 
                and completion status in that course.
            </li>
            <li>
                With affiliates of ACE or an educator, or with successors in the event of a merger, 
                acquisition, or reorganization, for their use consistent with this Privacy Policy.
            </li>
        </ul>
        <p>
            ACE or an educator may also seek your consent for additional disclosures of information, 
            including Personal Information, and will share it only as described to you. In addition, ACE or 
            an educator may share with the public and with third parties, including but not limited to researchers 
            and business partners, information and Personal Information that is de-identified or aggregated in a 
            manner that does not personally identify you.
        </p>
        <br/><br/>
        <h3>HOW TO MANAGE YOUR PERSONAL INFORMATION</h3>
        <p>
            You can manage your Personal Information through learner features on the ACE Site and requests 
            to the ACE learner support team. If your request involves information controlled by an educator, 
            ACE learner support will notify and coordinate with the appropriate educator to address your request. 
            ACE will provide support to the extent required by applicable law 
            (for example, learners in the European Union) and more broadly when possible, as a courtesy 
            in our sole discretion. ACE will notify you in the event that ACE is unable to meet a request 
            that is not legally required. Similarly, educators will only be obligated to comply with requests 
            to the extent legally required, but may choose to comply with other requests in their sole discretion.
        </p>
        <br/><br/>
        <h3>Access and correct your Personal Information</h3>
        <p>
            Much of your Personal Information is available in your ACE account. 
            Your name, email address, and other identifiable profile information is editable through 
            the profile settings in your ACE account except as noted below. Your account dashboard lists 
            all current and archived courses in which you have enrolled and includes links to any 
            Verified Certificates you may have earned. The dashboard also contains copies of your 
            answers and other participation and performance in courses. Please contact ACE learner support 
            to access and update this or other information. If your request involves information controlled 
            by an educator, ACE learner support will notify the appropriate educator of your request.
        </p>
        <br/><br/>
        <p>Exceptions:</p>
        <ul>
            <li>
                Usernames cannot ever be changed. This is an ACE system restriction. 
                Because usernames identify you in courses and elsewhere on the ACE Site, 
                ACE encourages you to use discretion in choosing your username. If you want to protect your identity, 
                do not use your real name or a name identifiable to you as your username.
            </li>
            <li>
                ACE does not track or index every time or every place on the ACE Site when or where 
                a learner may volunteer Personal Information, so neither ACE nor educators will be able 
                to help you locate or manage all such instances. ACE encourages you to use discretion before 
                volunteering Personal Information on the ACE Site.
            </li>

        </ul>
        <br/><br/>
        <h3>Restrict or object to the processing of Personal Information</h3>
        <p>
            If you want to manage emails and other communications to you, you may update your 
            preferences in your ACE account dashboard, follow the steps described in links at the 
            bottom of email messages, or contact ACE learner support. You may object to, or request 
            that ACE or an educator stop, its use of your Personal Information for other purposes by 
            contacting the ACE learner support team. If your request involves information 
            controlled by an educator, ACE learner support will notify the appropriate educator of your request. 
            Please note that if you choose to restrict ACE’s or a educator’s ability to process 
            Personal Information, and the processing is otherwise required to provide you with various services 
            and products offered on the ACE Site, you may not be able to establish an ACE user account or enroll 
            for a course, and ACE or an educator may not be able to provide you with those services or products.
        </p>
        <br/><br/>
        <h3>Delete account and Personal Information</h3>
        <p>
            To request deletion of your ACE account and Personal Information, you should click the button 
            labeled “Delete my account” in your ACE account settings. Because deletion on the ACE system is a 
            permanent action and cannot be reversed, ACE may ask you to complete a process that aims to confirm 
            your authority to manage the ACE account affected by your request.
        </p>
        <br/><br/>
        <ul>
            <li>deactivate your ACE account,</li>
            <li>remove the active profile,</li>
            <li>retire your username, and</li>
            <li>remove you from ACE email lists.</li>
        </ul>
        <p>With respect to your Personal Information, ACE will permanently delete your ACE account profile 
            Personal Information from the ACE Site.
        </p>
        <br/><br/>
        <p>As noted above, to the extent that ACE associates the information that ACE collects directly 
            or indirectly with an individual (for example, you), the association is based on Personal 
            Information in your ACE account profile. By erasing the Personal Information in your ACE account 
            profile, the remaining information about your activity on the ACE Site will no longer be 
            associated with you, except as noted below.
        </p>
        <br/><br/>
        <p>
            These changes will be applied to data stores that are used for operation of the 
            ACE Site including course administration by educators. If you enrolled in any courses on the 
            ACE Site, the ACE learner support team will share your request with the educators that offered 
            those courses.
        </p>
        <br/><br/>
        <p>Exceptions:</p>
        <ul>
            <li>
                Deletion will not apply to historical activity logs or archives unless and until 
                these logs and data naturally "age-off" the ACE system.
            </li>
            <li>
                ACE does not track or index every time or every place on the ACE Site when or where a 
                learner may volunteer Personal Information, so neither ACE nor educators will be able to 
                help you locate or manage all such instances. 
                ACE encourages you to use discretion before voluntarily sharing your Personal Information 
                on the ACE Site.
            </li>
            <li>
                ACE will archive course data (in a manner and to the extent permitted under applicable law) 
                to serve its mission to enable scientific research on cognitive science and education. 
                These archives are used to produce encrypted research data packages for educators, and 
                Personal Information may not be deleted from research data packages retained by educators.
            </li>
            <li>
                ACE and each applicable educator cannot always delete records of past interactions and 
                transactions. For example, records relating to previous purchases on the ACE Site must 
                be retained for financial reporting, audit, and compliance reasons.
            </li>
            <li>
                ACE and each educator will retain and use Personal Information as necessary to comply with 
                its legal obligations, resolve disputes, enforce its agreements, and as otherwise permitted 
                by applicable law.
            </li>
        </ul>
        <br/><br/>
        <h3>Data retention</h3>
        <p>
            ACE will retain your Personal Information for as long as your account is active or as 
            needed to provide you with services; to maintain a record of your transactions for 
            financial reporting, audit, and compliance purposes; and to comply with ACE’s legal obligations, 
            resolve disputes, enforce its agreements, and as otherwise permitted by applicable law. 
            If you enroll in a educator’s course, such educator will also retain your Personal Information 
            for as long as needed to provide you with services; to maintain a record of your transactions for 
            financial reporting, audit, and compliance purposes; and to comply with its legal obligations, 
            resolve disputes, enforce its agreements, and as otherwise permitted by applicable law. Upon your 
            request that ACE deactivate your account and delete your information, ACE will follow the process 
            described above, including without limitation archiving your course data (in a manner and to the 
            extent permitted under applicable law) to serve its mission to enable scientific research on 
            cognitive science and education. These archives will be used to produce encrypted research data 
            packages for educators, and each such educator may also keep and use course data for scientific 
            research.
        </p>
        <br/><br/>
        <h3>STORAGE & SECURITY</h3>
        <p>
            ACE stores information, including Personal Information, on its own servers and also on 
            servers of companies that ACE hires to provide services. Each educator also stores information, 
            including Personal Information, on its own servers and/or on servers of companies that the educator 
            hires to provide services. In each case, information may be stored in Sri Lanka, India and 
            in other countries where ACE or an educator operates, 
            and in countries where ACE and each educator’s respective service providers operate. 
            If you are in the European Union, Switzerland, or other regions with laws 
            governing data collection and use, you acknowledge that ACE and each educator may transfer, 
            process and store your personal information in Sri Lanka, India and other countries, the privacy 
            laws of which may be considered less strict than those of your region.
        </p>
        <p>
            ACE controls its own copy of information collected through the ACE Site and has 
            an information security program designed to protect information in its possession or control. 
            This is done through a variety of privacy and security policies, processes, and procedures. 
            ACE uses administrative, physical, and technical safeguards that reasonably and appropriately 
            protect the confidentiality, integrity, and availability of the information that it collects, 
            receives, stores, or transmits. Nonetheless, no method of transmission over the Internet, or 
            method of electronic storage, is 100% secure; and therefore,ACE cannot guarantee its 
            absolute security. While ACE works hard to ensure the integrity and security of its network 
            and systems, ACE cannot guarantee that its security measures will prevent "hackers" or other 
            unauthorized persons from illegally accessing or obtaining information.
        </p>
        <p>
            If ACE learns of a security breach involving its copy of your Personal Information, 
            ACE may attempt to notify you electronically so that you may take appropriate protective steps. 
            By using the ACE Site or providing Personal Information to ACE, you agree that 
            ACE can communicate with you electronically regarding security, privacy, and administrative 
            issues relating to your use of the ACE Site. If a security systems breach occurs, 
            ACE may post a notice on the ACE homepage (www.theaceuniversity.com) or elsewhere on the 
            ACE Site and may send an email to you at the email address associated with your ACE account. 
            Depending on where you are located, you may have a legal right to receive notice of a security breach, 
            involving your Personal Information, in writing.
        </p>
        <p>
            If an educator learns of a security breach involving that educator’s copy of 
            your Personal Information, the educator may attempt to notify you electronically so that 
            you may take appropriate protective steps. By enrolling in an educator’s course on the 
            ACE Site or providing Personal Information to the educator, you agree that the educator can 
            communicate with you electronically regarding security, privacy, and administrative issues 
            relating to your course enrollment and participation. If a security systems breach occurs, 
            the affected educator may post a notice on the ACE site and/or send an email to you at the 
            email address associated with your enrollment in the educator’s course on the ACE Site. 
            Depending on where you are located, you may have a legal right to receive notice of a security breach, 
            involving your Personal Information, in writing.
        </p>
        <br/><br/>
        <h3>Privacy Policy Updates</h3>
        <p>
            This Privacy Policy will be reviewed and updated from time to time. When changes are made, 
            the Privacy Policy will be labeled as "Revised (date)," indicating that you should review 
            the new terms, which will be effective immediately upon posting on this page, with an updated 
            effective date. By accessing the ACE Site after any changes have been made, you accept the 
            modified Privacy Policy and any changes contained therein. In case you miss the notification 
            referenced above, be sure to return to this page periodically to ensure familiarity with 
            the most current version of this Privacy Policy.
        </p>
        <br/><br/>
        <h3>Contact Information</h3>
        <p>
            If you have privacy concerns, have disclosed data you would prefer to keep private, 
            or would like to access the Personal Information that ACE maintains about you, 
            please contact us at admin@theaceuniversity.com. 
            You may also write to us at: ATTN: The ACE University, 
            Sri Lanka Technological Campus, 7, Hector Kobbakaduwa Mawatha, Sri Lanka. 
            If your request involves an educator, ACE will notify the appropriate educator of your request.
        </p>
        <br/><br/>
        <h3>Effective Date: January 16, 2021</h3>


    </section>
</main>
